
 <table>
    <tr>
      <th>TBD</th>
      <th>TBD</th>
      <th>TBD</th>
      <th>TBD</th>
      <th>TBD</th>
      <th>TBD</th>
      <th>TBD</th>
      <th>TBD</th>
      <th>TBD</th>
      <th>TBD</th>
      <th>TBD</th>
      <th>TBD</th>
    </tr>

    <tr>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
    </tr>


    <tr>
      <td>Other</td>

      <td colspan="2">


<h1> Matt Zmuda </h1>

<h2> I study at Chicago Booth, a picture & links are below </h2>

<img src ="test_1.jpg" height=200>

<div>
<a href = "https://www.chicagobooth.edu"> To Chicago Booth </a>
</div>

<form action="https://www.chicagobooth.edu">
  <button> Go to Chicago Booth </button>
  </form>



<style>

  h1 {font-size: 72px;
  color: blue
  }

  h2 {
    color: green
  }

</style>


